body{
  background: url("/img/stressed_linen.png");
}
ul{
list-style-type:none;
}
h1{color:gray;}
.img-loader {
  display: none;
}
#flash-message{
  position: absolute;
  width:300px;
  left:490px;
  background-color: #262b30;
  display: none;
}
#flash-message p{
  text-align: center;
  color:white;
}
#img-box{
  text-align: center;
}
.lbl{
  color:gray;
}
.lbla{
  color:#919191;
}